@model IEnumerable<ProjetBD.Models.Exposition>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Emploi.Personne.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Risque.libelle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Commentaire)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Emploi.Personne.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Risque.libelle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Commentaire)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {libelle = item.libelle,numero = item.numero }) |
            @Html.ActionLink("Details", "Details", new { libelle = item.libelle, numero = item.numero }) |
            @Html.ActionLink("Delete", "Delete", new { libelle = item.libelle, numero = item.numero })
        </td>
    </tr>
}

</table>
