@model IEnumerable<ProjetBD.Models.Personne>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adr_pays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adr_ville)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adr_cp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adr_rue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adr_numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.demandeExamen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adr_pays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adr_ville)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adr_cp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adr_rue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adr_numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.demandeExamen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.numero }) |
            @Html.ActionLink("Details", "Details", new { id=item.numero }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.numero })
        </td>
    </tr>
}

</table>
